@model HOK.Elastic.FileSystemCrawler.Models.InputPathEventStream

@{
    ViewData["Title"] = "View1";
}

<h1>View1</h1>

<h4>InputPathEventStream</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PathFrom" class="control-label"></label>
                <input asp-for="PathFrom" class="form-control" />
                <span asp-validation-for="PathFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentAction" class="control-label"></label>
                @Html.DropDownListFor(m=>m.ContentAction, Html.GetEnumSelectList(typeof(HOK.Elastic.FileSystemCrawler.Models.ActionContent)))
                <span asp-validation-for="ContentAction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresenceAction" class="control-label"></label>
                @Html.DropDownListFor(m=>m.PresenceAction, Html.GetEnumSelectList(typeof(HOK.Elastic.FileSystemCrawler.Models.ActionPresence)))
                <span asp-validation-for="PresenceAction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeStampUtc" class="control-label"></label>
                <input asp-for="TimeStampUtc" class="form-control" />
                <span asp-validation-for="TimeStampUtc" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDir" /> @Html.DisplayNameFor(model => model.IsDir)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Path" class="control-label"></label>
                <input asp-for="Path" class="form-control" />
                <span asp-validation-for="Path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Office" class="control-label"></label>
                <input asp-for="Office" class="form-control" />
                <span asp-validation-for="Office" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathStatus" class="control-label"></label>
                <input asp-for="PathStatus" class="form-control" />
                <span asp-validation-for="PathStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
