@model HOK.Elastic.FileSystemCrawler.Models.InputPathCollectionEventStream

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>InputPathCollectionEventStream</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DuplicatesCount" class="control-label"></label>
                <input asp-for="DuplicatesCount" class="form-control" />
                <span asp-validation-for="DuplicatesCount" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsReadOnly" /> @Html.DisplayNameFor(model => model.IsReadOnly)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathForCrawling" class="control-label"></label>
                <input asp-for="PathForCrawling" class="form-control" />
                <span asp-validation-for="PathForCrawling" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathForCrawlingContent" class="control-label"></label>
                <input asp-for="PathForCrawlingContent" class="form-control" />
                <span asp-validation-for="PathForCrawlingContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishedPath" class="control-label"></label>
                <input asp-for="PublishedPath" class="form-control" />
                <span asp-validation-for="PublishedPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
