<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<appender name="RollingLogFileAppenderJsonStyle" type="log4net.Appender.RollingFileAppender">
			<!--to prevent duplicate or lost log entries, filebeat watches for changes in files https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-input-log.html including truncation, and so every log should be named with a date-->

			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
			</filter>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<!--<file value="logs\" />-->
			<file type="log4net.Util.PatternString" value="logs\" />
			<datePattern value="'HOK.Elastic.RoleMappingSync'yyyy.MM.dd'.log'" />
			<staticLogFileName value="false" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<maxSizeRollBackups value="10" />
			<!--maximumFileSize value="20MB" /-->
			<layout type="log4net.Layout.PatternLayout">
				<!--conversionPattern value="{&quot;date&quot;:&quot;%utcdate{yyyy-MM-dd HH:mm:ss zzz}&quot;,&quot;level&quot;:&quot;%level&quot;,&quot;logger&quot;:&quot;%logger&quot;,&quot;thread&quot;:&quot;%thread&quot;,&quot;data&quot;:%message} %newline"/-->
				<conversionPattern value="{&quot;date&quot;:&quot;%utcdate&quot;,&quot;level&quot;:&quot;%level&quot;,&quot;logger&quot;:&quot;%logger&quot;,&quot;thread&quot;:&quot;%thread&quot;,&quot;data&quot;:%message} %newline" />
			</layout>
		</appender>

		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{log4net:UserName}%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<appender name="FileAppenderErrs" type="log4net.Appender.FileAppender">
			<file value="RolemappingGroupSync_errs.txt" />
			<appendToFile value="false" />
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ERROR" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{log4net:UserName}%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		--&gt;
		<root>
			<level value="DEBUG" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="FileAppenderErrs" />
			<appender-ref ref="RollingLogFileAppenderJsonStyle" />
		</root>
	</log4net>
</configuration>
