<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="AutoFlushWrapper" name="mailbuffer" condition="level >= LogLevel.Error" flushOnConditionOnly="true">
      <target xsi:type="BufferingWrapper" bufferSize="4" overflowAction="Discard">
        <target xsi:type="LimitingWrapper"  messageLimit="4" interval="01:00">
          <target xsi:type="BufferingWrapper" bufferSize="4" overflowAction="Discard">
            <target xsi:type="Mail" name="Email2"
         smtpServer="gwsmtp.hok.com"
             smtpPort="25"
         from="atg.corporate.systems@hok.com"
        to="dan.siroky@hok.com,james.blackadar@hok.com"
        subject="Error From ${processname:fullName=false} ON ${hostname}"
         header="=========================================================================${newline}"
         body="time: ${longdate}${newline}
            level: ${uppercase:${level}}${newline}
            logger: ${logger}${newline}
            source: ${callsite:className=true}${newline}
            message: ${message} ${exception:format=tostring}${newline}
            ${newline}"
         footer="${newline}=========================================================================${newline}"
              />
          </target>
        </target>
      </target>
    </target>
    <target xsi:type="File"
            name="logfile"
            fileName="logs\_weblog-${shortdate}.log"
            maxArchiveFiles="5"
            >
      <layout xsi:type="JsonLayout">
        <attribute name="timestamp" layout="${date::universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="logger" layout="${logger}" />
        <attribute name="thread" layout="${threadid}" />
        <attribute name="data" layout="${replace:searchFor=\r\n:wholeWords=false:replaceWith=:regex=false:inner=${message}}" encode="false"/>
        <attribute name="exception" layout="${replace:searchFor=\r\n:wholeWords=false:replaceWith=:regex=false:inner=${exception:format=tostring}}" encode="false" />
      </layout>
    </target>
    <target xsi:type="File"
          name="apperrors"
          fileName="logs\_apperror.txt"
          layout="${date::universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" archiveNumbering="Date"
          archiveAboveSize="5000000"
          >
    </target>
  </targets>
  <rules>
    <logger name="System.*" finalMinLevel="Warn" />
    <logger name="Microsoft.*" finalMinLevel="Warn" />
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
    <logger name="WebAPI*" minlevel="Trace" maxlevel="Information" final="true" />
    <logger name="*" minlevel="Debug" writeTo="mailbuffer" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Error" writeTo="apperrors" />
  </rules>
</nlog>

