<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="AutoFlushWrapper" name="mailbuffer" condition="level >= LogLevel.Error" flushOnConditionOnly="true">
      <target xsi:type="BufferingWrapper" bufferSize="4" overflowAction="Discard">
        <target xsi:type="LimitingWrapper"  messageLimit="4" interval="01:00">
          <target xsi:type="BufferingWrapper" bufferSize="4" overflowAction="Discard">
            <target xsi:type="Mail" name="Email2"
         smtpServer="gwsmtp.hok.com"
             smtpPort="25"
         from="atg.corporate.systems@hok.com"
        to="james.blackadar@hok.com"
        subject="hmm ${processname:fullName=false} ON ${hostname}"
         header="=========================================================================${newline}"
         body="time: ${longdate}${newline}
            level: ${uppercase:${level}}${newline}
            logger: ${logger}${newline}
            source: ${callsite:className=true}${newline}
            message: ${message} ${exception:format=tostring}${newline}
            ${newline}"
         footer="${newline}=========================================================================${newline}"
              />
          </target>
        </target>
      </target>
    </target>
    <target name="weblog" xsi:type="File"
    fileName="logs\_weblog-${shortdate}.log"
    layout="${date::universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
maxArchiveFiles="3" />
    <target name="webhoklog" xsi:type="File"
    fileName="logs\_webhoklog-${shortdate}.log"
    layout="${date::universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
maxArchiveFiles="3" />
 <target name="apperrors" xsi:type="File"
fileName="logs\_apperror.log"
layout="${date::universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" archiveNumbering="Date"
      archiveAboveSize="5000000" />
  </targets>
  <rules>
    <logger name="System.*" finalMinLevel="Warn" />
    <logger name="Microsoft.*" finalMinLevel="Warn" />
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
    <logger name="WebAPI*" minlevel="Trace" maxlevel="Information" final="true" />
    <logger name="*" minlevel="Debug" writeTo="mailbuffer" />
    <logger name="*" minlevel="Debug" writeTo="weblog" />
    <logger name="HOK*" minlevel="Debug" writeTo="webhoklog" />
    <logger name="*" minlevel="Error" writeTo="apperrors" />
  </rules>
</nlog>

