<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogFile="c:\temp\console-example-internal.log" internalLogLevel="Info">

    <targets>
        <target xsi:type="File" name="logfile"
            fileName="${var:job_directory}\logs\hok.elastic.crawler.log"
            archiveFileName="${var:job_directory}\logs\hok.elastic.crawler.{#}.log"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="10048576"
            maxArchiveFiles="40"
            archiveDateFormat="yyyy.MM.dd.HH.mm">
            <layout xsi:type="JsonLayout">
                <attribute name="timestamp" layout="${date::universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
                <attribute name="level" layout="${level:upperCase=true}"/>
                <attribute name="logger" layout="${logger}" />
                <attribute name="thread" layout="${threadid}" />
                <attribute name="data" layout="${message}" />
                <attribute name="exception" layout="${exception:format=tostring}" />
            </layout>
        </target>

        <target xsi:type="ColoredConsole" name="logconsole">
            <layout xsi:type="JsonLayout" indentJson="true">
                <attribute name="timestamp" layout="${date::universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
                <attribute name="level" layout="${level:upperCase=true}"/>
                <attribute name="logger" layout="${logger}" />
                <attribute name="thread" layout="${threadid}" />
                <attribute name="data" layout="${message}" />
              <attribute name="exception" layout="${exception:format=tostring}" />
            </layout>
        </target>

        <target xsi:type="File" name="errorlogfile" 
            fileName="${var:job_directory}\logs\crawler-errs.log"
            archiveFileName="${var:job_directory}\logs\crawler-errs.{#}.log"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="10048576"
            maxArchiveFiles="40"
            archiveDateFormat="yyyy.MM.dd.HH.mm">
            <layout value="${date::universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ} [${threadid}] ${level} ${logger} ${message}${newline}" />
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile,logconsole" />
        <logger name="*" minlevel="Error" writeTo="errorlogfile" />
    </rules>

    <!-- <appender name="RollingLogFileAppenderJsonStyle" type="log4net.Appender.RollingFileAppender">
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <staticLogFileName value="true"/>
    </appender> -->


    <!-- <appender name="ManagedColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
        <mapping>
            <level value="ERROR" />
            <foreColor value="White" />
            <backColor value="Red" />
        </mapping>
        <mapping>
            <level value="WARN" />
            <foreColor value="Black" />
            <backColor value="Yellow" />
        </mapping>
        <mapping>
            <level value="DEBUG" />
            <foreColor value="Green" />
        </mapping>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%utcdate{yyyy-MM-ddTHH:mm:ss.fffZ} [%thread] %-5level %logger %message%newline" />
        </layout>
    </appender> -->


    <!-- <appender name="FileAppenderErrs" type="log4net.Appender.FileAppender">
        <file value="crawler-errs.txt" />
        <appendToFile value="false" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%property{log4net:UserName}%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
        </layout>
    </appender> -->


    <!-- <root>
        <level value="DEBUG" />
        <appender-ref ref="ManagedColoredConsoleAppender" />
        <appender-ref ref="FileAppenderErrs" />
        <appender-ref ref="RollingLogFileAppenderJsonStyle" />
    </root> -->
</nlog>